
<footer>
  <div class="footer-above">
      <div class="container">
          <div class="row">
              <div class="footer-col col-md-4">
                  <h2>Contact Us: </h2>
                  <p>Tel: 011-27871018</p>
                  <p>Fax: 011-27871023</p>
              </div>
              <div class="footer-col col-md-8">
                  <h2>Address: </h2>
                  <p>
                      Delhi Technological University
                      <br>Shahbad Daulatpur, Main Bawana Road, 
                      <br>Delhi - 110042
                  </p>
              </div>
          </div>
      </div>
  </div>
  <div class="footer-below">
      <div class="container">
          <div class="row">
              <div class="col-lg-12"> Copyright © <a href="http://dtu.ac.in" style="color:cornsilk;">Delhi Technological University</a> </div>
          </div>
      </div>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
  <!-- <script src="https://cdn.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
  <script src="/js/code.js"></script>
  <script src="js/popper.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>

</body>
</html>