<%- include('partials/header') %> 
<%- include("partials/sidebar") %>

<div class="container" id="brochure">
    <h1 style="text-align: center;">Brochure</h1>
    <div class="brochure container-fluid">
        <embed src="/brochure_21.pdf" width="80%" height="100%" title="Brochure">
    </div>
</div>
<%- include('partials/footer') %> 