<%- include("partials/header") %>
<%- include("partials/sidebar") %>
<div>
    
</div>
<div class="container" id="dean">
        <h1 style="text-align: center;">Dean's Remarks</h1>

    <hr color="#CF102D">
    <p>&nbsp;</p>

    <div class="row">
        <div class="col-lg-6" style="text-align: center;">
                <img src="/img/dean.jpg" alt="Prof. S Indu" class="img-responsive img-thumbnail">
        </div>

        <div class="col-lg-6">
            <h3 style="text-align: center;">&nbsp;</h3>
            <p><strong><a style="color: #CF102D;" href="http://www.dtu.ac.in/Web/Departments/Electronics/faculty/sindu.php">Professor S. Indu</a></strong></p>

            <p><b>Dean Student Welfare</b></p>

            <p><strong>Delhi Technological University</strong></p>    
        </div>   
    </div>
    <hr color="#CF102D">

    <p align="justify">The vision of Delhi Technological University has always been to achieve the highest standards of world-class education while fostering a safe and learning environment for the students. DTU has always supported its students to aim for excellence and be the leaders of tomorrow’s self-reliant India.</p>

    <p align="justify">Apart from the unique student-centric academic curriculum, the university has instituted several programmes and provisions for the welfare and holistic development of its students. Financial support is provided to the weaker students to help them afford the education. A number of scholarships are instituted for the meritorious students to encourage them to aim for the sky. Travel grants are provided to the researchers to travel and present their research in international and national conferences. Every year, the pre-final year students are sent on industrial visits to get an exposure to the practical applications of their learning.</p>

    <p align="justify">DTU takes exceptional care of the students who aren’t the residents of Delhi. There are fully-equipped hostels for boys and girls. Every facility is available in the university campus itself from stationery supplies and book store to bank and post office. The newly-inaugurated state-of-the-art Health Centre is open 24*7. The library is accessible to the students during the day, post which the reading rooms are available till late hours.</p>

    <p align="justify">The doors of the administration are always open for students seeking any support from the university. It is my prayer that the students use all the facilities to the fullest and achieve their dreams and aspirations.</p>

    <p align="justify">&nbsp;</p>
    <p>Prof. S Indu</p>
    <p>Dean Student Welfare</p>

</div>
<%- include("partials/footer") %> 