<%- include("partials/header") %>
<div class="page">
<%- include("partials/sidebar") %>
<section id="society">

    <div class="row">
        <div class="col-md-10 col-12 py-4 mx-auto" style="text-align: center;">
            <h1>UGV</h1>
            <img src="/img/nss.jpg" alt="nss" style="width: 100%;max-height: 600px; object-fit: cover;">
        </div>
            <div class="col-lg-4 col-md-6 col-10 mx-auto my-2">
               <img src="/img/nss_img1.png" alt="" style="width: 100%; max-height: 270px; object-fit: cover;">
            </div>
            <div class="col-lg-4 col-md-6 col-10 mx-auto my-2">
                <img src="/img/nss_img2.png" alt="" style="width: 100%;max-height: 270px; object-fit: cover;">
            </div>
            <div class="col-lg-4 col-md-6 col-10 mx-auto my-2">
                <img src="/img/nss_img3.png" alt="" style="width: 100%; max-height: 270px; object-fit: cover;">
            </div>
            <p class="col-md-10 col-12 mx-auto py-4" style="font-size: 1.2rem; text-align: center;">Unmanned Ground Vehicles is a legacy tech team of DTU led by the most passionate undergraduate engineers across various disciplines. We incorporate cutting-edge technology from the fields of Artificial Intelligence, Sensor Fusion, SLAM, etc., to build autonomous vehicles of the future. Our project is to build prototypes vehicles, driven by extensive research and innovation. We are currently 9th overall and 5th in cybersecurity at Intelligent Ground Vehicle Competition 2019 held at Oakland University, USA. We are aiming for the top spot at the next IGVC Competition. Through these projects, we aim to demystify these new technologies and make them easily available for the masses.</p>
        <!-- <div style="text-align: center;"> -->
        <div class="col-md-10 col-12 py-4 mx-auto" style="text-align: center;">
            <h1>NCC DTU</h1>
            <img src="/img/ncc_img.jpeg" alt="ncc" style="width: 100%; max-height: 600px; object-fit: cover;">
        </div>

        <div class="mx-auto row" style="text-align: center;">
            <div class="col-lg-4 col-md-6 col-10 mx-auto">
                <video width="100%" controls height="240" muted>
                    <source src="/img/ncc_vid1.mp4" type="video/mp4">
                    <source src="/img/ncc_vid1.mp4" type="video/ogg">
                  Your browser does not support the video tag.
                </video>
            </div>
            <div class="col-lg-4 col-md-6 col-10 mx-auto">
                <video width="100%" controls height="240" muted>
                    <source src="/img/ncc_vid2.mp4" type="video/mp4">
                    <source src="/img/ncc_vid2.mp4" type="video/ogg">
                  Your browser does not support the video tag.
                </video>
            </div>
            <div class="col-lg-4 col-md-6 col-10 mx-auto">
                <video width="100%" controls height="240" muted>
                    <source src="/img/ncc_vid3.mp4" type="video/mp4">
                    <source src="/img/ncc_vid3.mp4" type="video/ogg">
                  Your browser does not support the video tag.
                </video>
            </div>
        </div>
        
        
    </div>
</section>
</div>
<%- include("partials/footer") %> 