<%- include("partials/header") %>
<div class="page">
<%- include("partials/sidebar") %>
<section id="society">

    <div class="row">
        <div class="col-md-10 col-12 py-4 mx-auto" style="text-align: center;">
            <h1>NSS DTU</h1>
            <img src="/img/nss.jpg" alt="nss" style="width: 100%;max-height: 600px; object-fit: cover;">
        </div>
            <div class="col-lg-4 col-md-6 col-10 mx-auto my-2">
               <img src="/img/nss_img1.png" alt="" style="width: 100%; max-height: 270px; object-fit: cover;">
            </div>
            <div class="col-lg-4 col-md-6 col-10 mx-auto my-2">
                <img src="/img/nss_img2.png" alt="" style="width: 100%;max-height: 270px; object-fit: cover;">
            </div>
            <div class="col-lg-4 col-md-6 col-10 mx-auto my-2">
                <img src="/img/nss_img3.png" alt="" style="width: 100%; max-height: 270px; object-fit: cover;">
            </div>
            <p class="col-md-10 col-12 mx-auto py-4" style="font-size: 1.2rem; text-align: center;">NSS DTU is the largest student-led organisation in the university working in the social sector, and aims to bring about a change in the society by organising various events and campaigns pertaining to all aspects of social service. The volunteers commit themselves to the greater good, and strive to achieve the best versions of themselves. Awareness regarding the surroundings, identifying social evils pertaining to a region, and formulating and implementing practical ways to tackle them constitutes the role of an NSS Volunteer. Both long and short term programmes in the field of education, healthcare, road safety, etc. ensure efficient functioning of NSS as a unit, encouraging teamwork and helping it's volunteers grow immensely on a personal level as well.</p>
        <!-- <div style="text-align: center;"> -->
        <div class="col-md-10 col-12 py-4 mx-auto" style="text-align: center;">
            <h1>NCC DTU</h1>
            <img src="/img/ncc_img.jpeg" alt="ncc" style="width: 100%; max-height: 600px; object-fit: cover;">
        </div>

        <div class="mx-auto row" style="text-align: center;">
            <div class="col-lg-4 col-md-6 col-10 mx-auto">
                <video width="100%" controls height="240" muted>
                    <source src="/img/ncc_vid1.mp4" type="video/mp4">
                    <source src="/img/ncc_vid1.mp4" type="video/ogg">
                  Your browser does not support the video tag.
                </video>
            </div>
            <div class="col-lg-4 col-md-6 col-10 mx-auto">
                <video width="100%" controls height="240" muted>
                    <source src="/img/ncc_vid2.mp4" type="video/mp4">
                    <source src="/img/ncc_vid2.mp4" type="video/ogg">
                  Your browser does not support the video tag.
                </video>
            </div>
            <div class="col-lg-4 col-md-6 col-10 mx-auto">
                <video width="100%" controls height="240" muted>
                    <source src="/img/ncc_vid3.mp4" type="video/mp4">
                    <source src="/img/ncc_vid3.mp4" type="video/ogg">
                  Your browser does not support the video tag.
                </video>
            </div>
        </div>
        
        
    </div>
</section>
</div>
<%- include("partials/footer") %> 