<%- include('partials/header') %> 

<div class="container-fluid" id="activities" style="padding-left: 10%; padding-right: 10%;">
    <div class="row">
        <div class="col-12" style="text-align: center;">
            <h1 style="color: black; margin-bottom: 2%;">Student Activities</h1>
        </div>
        <div class="col-md-6 my-2">
            <button onclick="location.href = '/community/tcr'" class="btn btn-danger btn-block py-2">Technical Council</button>
        </div>
        <div class="col-md-6 my-2">
            <button onclick="location.href = '/community/lcr'" class="btn btn-danger btn-block py-2">Literary Council</button>
        </div>
        <div class="col-md-6 my-2">
            <button onclick="location.href = '/community/i_t'" class="btn btn-danger btn-block py-2">Innovation Team</button>
        </div>
        <div class="col-md-6 my-2">
            <button onclick="location.href = '/community/ccr'" class="btn btn-danger btn-block py-2">Cultural Council</button>
        </div>
        <div class="col-md-6 my-2 mx-auto">
            <button onclick="location.href = '/community/scr'" class="btn btn-danger btn-block py-2">Social Societies</button>
        </div>
        <div class="col-md-6 my-2 mx-auto">
            <button onclick="location.href = '/community/sportsandgame'" class="btn btn-danger btn-block py-2">Sports and Games</button>
        </div>
    </div>
</div>

<%- include('partials/footer') %> 