<%- include("partials/header") %>
<%- include("partials/sidebar") %>
<div class="container" id="dean">
        <h1 style="text-align: center;">Message from Vice Chancellor</h1>

    <hr color="#CF102D">
    <p>&nbsp;</p>

    <div class="row">
        <div class="col-lg-6" style="text-align: center;">
                <img src="/img/vice_chancellor.jpg" alt="Prof. Yogesh Singh" class="img-responsive img-thumbnail" style="width: 38%;">
        </div>

        <div class="col-lg-6">
            <h3 style="text-align: center;">&nbsp;</h3>
            <p><strong><a style="color: #CF102D;" href="http://dtu.ac.in/Web/Administrations/Vice-Chancellor.php">Professor Yogesh Singh</a></strong></p>

            <p><b>Vice Chancellor</b></p>

            <p><strong>Delhi Technological University</strong></p>    
        </div>   
    </div>
    <hr color="#CF102D">

    <p align="justify">Delhi Technological University, over its 78 years of acclaimed history, has always been one of the top choices for engineering aspirants. The university has always aimed at maintaining the quality of education and research while focusing on a largely student-centric curriculum. DTU views its young students as a source of strength, and always seeks to support them in every possible way.
    </p>

    <p align="justify">Being a premier research university of the country, DTU has always collaborated with top universities and industries. Every year students are selected for prestigious international internships and industrial visits. The university supports its students to pursue research with the state-of-the-art labs and the provisions of travel grants and concessions. Researchers with publications in high-indexed journals are also rewarded generously.</p>

    <p align="justify">DTU offers a multitude of facilities to the students inside the university itself to support their academic journey in the university. Currently, there are eight boys’ hostels and four girls’ hostels for the students from remote corners of the country. The university campus has a well-equipped Health Centre with staff available round the clock to attend. The library is fully air-conditioned with all the latest titles of every single stream.</p>

    <p align="justify">I hope that our students use all these facilities to their best, and make their academic journey at Delhi Technological University successful. It is my dream that our students outperform others and emerge as world leaders, and give back to their alma mater.</p>

    <p align="justify">&nbsp;</p>
    <p>Prof. Yogesh Singh</p>
    <p>Vice Chancellor</p>

</div>
<%- include("partials/footer") %> 